/target
*.csv
*.mcap
parser/__pycache__
parser/utils/__pycache__
.envrc
gui/__pycache__
mcap_parser/gui/__pycache__
mcap_parser/parser/__pycache__
mcap_parser/parser/__pycache__
mcap_parser/parser/utils/__pycache__
